<header class="rl-header">
  <a class="branding" href="#">Rolê Local</a>
  <h1 class="title">Artistas</h1>
</header>

<main class="rl-main">

  <p id="notice"><%= notice %></p>

  <div class="rl-cards">
    <% @artists.each do |artist| %>
      <%= link_to artist, class: 'rl-card' do %>
        <img class="picture" src="<%= artist.profile_picture %>" alt="">
        <div class="info">
          <h4><%= artist.name %></h4>
          <h6><%= artist.genre %></h6>
        </div>
      <% end %>
    <% end %>
  </div>

  <%= link_to 'New Artist', new_artist_path %>

</main>
