<header class="rl-header">
  <a class="branding" href="#">Rolê Local</a>
  <h1 class="title"><%= link_to 'Artistas', artists_path %> › <%= @artist.name %></h1>
</header>

<main class="rl-main">

  <p id="notice"><%= notice %></p>

  <img class="picture" src="<%= @artist.profile_picture %>" alt="">

  <div class="buttons" style="overflow: auto;">
    <%= link_to 'Doar para o artista', @artist.donation_link, class: 'rl-button' %>
    <%= link_to 'Contratar o artista', @artist.hire_link, class: 'rl-button' %>
  </div>

  <h2><%= @artist.name %></h2>

  <h3><%= @artist.genre %></h3>

  <p><%= link_to 'Página do Facebook', @artist.facebook_link %></p>

  <p><%= link_to 'Página do Instagram', @artist.intagram_link_string %></p>

  <p><%= link_to 'Página do Spotify', @artist.spotify_link %></p>

  <h4>Eventos em que o artista vai tocar:</h4>
  <h6>Evento 1</h6>
  <h6>Evento 2</h6>
  <h6>Evento 3</h6>

</main>
