<header class="rl-header">
  <%= link_to home_path, class: 'branding' do %>
    <%= image_tag('logo.svg') %>
  <% end %>
  <h1 class="title">Eventos</h1>
</header>

<main class="rl-main">

  <p id="notice"><%= notice %></p>

  <div class="rl-cards">
    <% @events.each do |event| %>
      <%= link_to event, class:'rl-card' do %>
        <img class="picture" src="<%= event.event_picture %>" alt="">
        <div class="info">
          <h4><%= event.name %></h4>
          <h6><%= event.date %></h6>
          <h6><%= event.price %></h6>
          <h6><%= event.location %></h6>
        </div>
      <% end %>
    <% end %>
  </div>

  <%= link_to 'New Event', new_event_path %>

</main>
