<header class="rl-header">
  <a class="branding" href="#">Rolê Local</a>
  <h1 class="title">Eventos</h1>
</header>

<main class="rl-main">

  <p id="notice"><%= notice %></p>

  <div class="rl-cards">
    <% @events.each do |event| %>
      <a class="rl-card">
        <img class="picture" src="<%= event.event_picture %>" alt="">
        <div class="info">
          <h4><%= artist.date %></h4>
          <h6><%= artist.date %></h6>
          <h6><%= artist.location %></h6>
        </div>
      </a>
    <% end %>
  </div>

  <%= link_to 'New Artist', new_artist_path %>

</main>
