<header class="rl-header">
  <%= link_to 'Rolê Local', home_path, class: 'branding' %>
  <h1 class="title"><%= link_to 'Eventos', events_path %> › <%= @event.date %></h1>
</header>

<main class="rl-main">

  <p id="notice"><%= notice %></p>

  <img class="picture" src="<%= @event.event_picture %>" alt="">

  <div class="buttons" style="overflow: auto;">
    <%= link_to 'Ingressos', @event.buy_link, class: 'rl-button' %>
  </div>

  <h2><%= @event.date %></h2>

  <h3><%= @event.name %></h3>

  <h3><%= @event.location %></h3>

  <h3><%= @event.price %></h3>

  <h3><%= @event.date %></h3>

  <p><%= link_to 'Página do Facebook', '' %></p>

  <h4>Artistas que vão tocar nesse evento:</h4>
  <h6>Artista 1</h6>
  <h6>Artista 2</h6>
  <h6>Artista 3</h6>

</main>
