<header class="rl-header">
  <a class="branding" href="#">Rolê Local</a>
  <h1 class="title"><%= link_to 'Eventos', events_path %> › <%= @event.date %></h1>
</header>

<main class="rl-main">

  <p id="notice"><%= notice %></p>

  <img class="picture" src="<%= @event.event_picture %>" alt="">

  <h2><%= @event.date %></h2>

  <div class="buttons" style="overflow: auto;">
    <%= link_to 'Ingressos', @event.buy_link, class: 'rl-button' %>
  </div>

  <h3><%= @event.name %></h3>

  <h3><%= @event.location %></h3>

  <h3><%= @event.date %></h3>

  <h4><%= link_to 'Página do Facebook', '' %></h4>

</main>
